# Data Science
### Aula 2
#### Programação Funcional e Oriendado a Objeto
##### Prof Neylson Crepalde
###### Lucas Cesar Fernandes Ferreira

### Operações Básicas

In [12]:
# Adição
5 + 6

11

In [13]:
# Divisão
5/2

2.5

In [14]:
# Multiplicação
5 * 4

20

In [15]:
# Potência
5 ** 2

25

In [16]:
# Divisão inteira
5 // 2

2

In [17]:
# Resto da divisão
5 % 2

1

### Atribuições

In [19]:
x = 5
y = 6
x + y

11

In [20]:
# Nova atribuição para a variável
x = 2
x + y

8

In [22]:
# Incrementando
x += 1
x

4

In [23]:
# Verificando o tipo do objeto x
type(x)

int

In [24]:
y = 6.7
type(y)

float

### Trabalhando com textos no Python

In [31]:
nome = "Lucas"
sobrenome = "Cesar"
print(nome)
print(sobrenome)
print(nome + " " + sobrenome)
print("Meu nome é {} {}".format(nome, sobrenome))

Lucas
Cesar
Lucas Cesar
Meu nome é Lucas Cesar

In [32]:
# Verificando o tipo de variável
type(nome)

str

### Slicing

In [33]:
nome[0]

'L'

In [34]:
nome[1:]

'ucas'

In [35]:
nome[:3]

'Luc'

In [38]:
nome[3:]

'as'

### Listas

In [40]:
idades = [32,17,29,54]
idades

[32, 17, 29, 54]

In [41]:
idades[0]

32

In [42]:
# Atribui um valor ao elemento da lista
idades[0] = 55
print(idades)

[55, 17, 29, 54]

In [44]:
# Adicionar um elemento na lista
idades.append(49)
idades

[55, 17, 29, 54, 49, 49]

In [45]:
# Tirar um elemento
idades.pop(5)
idades

[55, 17, 29, 54, 49]

In [46]:
# Verificando o tamanho da lista
len(idades)

5

### Tuplas

In [47]:
tupla1 = (0, 32)
tupla2 = (1, 29)
tupla3 = (2, 16)
print(tupla1)
print(tupla2)
print(tupla3)

(0, 32)
(1, 29)
(2, 16)

In [48]:
tupla3[0]

2

In [49]:
tupla3[1]

16

In [50]:
# Não é possível mudar os elementos de uma tupla
tupla3[1] = 20

TypeError: 'tuple' object does not support item assignment