## Data Science
### Aula 3
### Programação Funcional e Oriendado a Objeto
### Prof Neylson Crepalde
### Lucas Cesar Fernandes Ferreira
## Operações Básicas

In [38]:
nomes = ["Neylson", "Vitor", "Ricardo"]
idades = [32,28,37]

### Subsetting

In [39]:
nomes[0]

'Neylson'

In [40]:
nomes[1]

'Vitor'

In [41]:
nomes.append('Lucas')

In [42]:
nomes[2] = "Paulo"

In [43]:
nomes.pop(4)

IndexError: pop index out of range

In [44]:
nomes

['Neylson', 'Vitor', 'Paulo', 'Lucas']

### Junta dois itens e cria um iterador

In [45]:
set(zip(nomes, idades))

{('Neylson', 32), ('Paulo', 37), ('Vitor', 28)}

### Dicionário

In [46]:
# Estruturas que possuem pares de informações, chaves e valores
FOO = {'Disciplina': 'Funcional e OO', 
       'Professor': 'Neylson',
       'Qtd_Alunos': 28,
       'Cursos': ['Bioinfo', 'CD', 'Comp'],
       'acontecendo': True}

In [47]:
for index,chave in enumerate(FOO):
    print(' [{}] {} - {} '.format((index+1),chave,FOO[chave]))

 [1] Disciplina - Funcional e OO
 [2] Professor - Neylson
 [3] Qtd_Alunos - 28
 [4] Cursos - ['Bioinfo', 'CD', 'Comp']
 [5] acontecendo - True

In [48]:
FOO['acontecendo']

True

In [49]:
FOO['acontecendo'] = 'FALSE'
FOO['acontecendo']

'FALSE'

In [50]:
FOO['Cursos']

['Bioinfo', 'CD', 'Comp']

In [51]:
FOO['Cursos'][0]

'Bioinfo'

In [52]:
len(FOO)

5

In [53]:
FOO.keys()

dict_keys(['Disciplina', 'Professor', 'Qtd_Alunos', 'Cursos', 'acontecendo'])

In [54]:
FOO.values()

dict_values(['Funcional e OO', 'Neylson', 28, ['Bioinfo', 'CD', 'Comp'], 'FALSE'])

In [55]:
FOO.items()

dict_items([('Disciplina', 'Funcional e OO'), ('Professor', 'Neylson'), ('Qtd_Alunos', 28), ('Cursos', ['Bioinfo', 'CD', 'Comp']), ('acontecendo', 'FALSE')])

In [56]:
list(FOO.items())[1]

('Professor', 'Neylson')

## Exercícios

In [57]:
# Crie dois objetos com um número qualquer e execute as seguintas operações
# (soma, subtração, divisão, multiplicação, potência, divisão inteira e resto da divisão),
# junte os dois elementos numa lista
num_1 = 5
num_2 = 3

In [58]:
num_1 + num_2

8

In [59]:
num_1 - num_2

2

In [60]:
num_1 / num_2

1.6666666666666667

In [61]:
num_1 * num_2

15

In [62]:
num_1 ** num_2

125

In [63]:
num_1 // num_2

1

In [64]:
num_1 % num_2

2

In [65]:
print('Soma 5 + 3 = ' + str(num_1 + num_2))
print('Subtração 5 - 3 = ' + str(num_1 - num_2))
print('Divisão 5 % 3 = ' + str(num_1 / num_2))
print('Multiplicação 5 x 3 = ' + str(num_1 * num_2))
print('Potência 5 ** 3 = ' + str(num_1 ** num_2))
print('Divisão inteiro ' + str(num_1 // num_2))
print('Divisão resto ' + str(num_1 % num_2))

Soma 5 + 3 = 8
Subtração 5 - 3 = 2
Divisão 5 % 3 = 1.6666666666666667
Multiplicação 5 x 3 = 15
Potência 5 ** 3 = 125
Divisão inteiro 1
Divisão resto 2

In [66]:
# Crie uma lista com os nome das pessoas que moram na sua casa (pelo menos 3).
# Crie outra lista com as idades deles, mostre os pares de nomes e idades, mostre o segundo nome, mostre a terceira idade
nomes = ['Lucas', 'Silvana', 'Laura']
idades = [27,29,1]

In [67]:
set(zip(nomes,idades))

{('Laura', 1), ('Lucas', 27), ('Silvana', 29)}

In [68]:
nomes[1]

'Silvana'

In [69]:
idades[2]

1

In [70]:
# Crie um dicionario com as informações, seu nome, cpf, telefone, idade, curso, quantos primos você tem, nome dos primos
dic1 = {
    'Nome':'Lucas',
    'cpf':'112.565.344-29',
    'telefone':'98219-8765',
    'idade':27,
    'curso':'Ciência de Dados',
    'qtd_primos':4,
    'nomes_primos':['Arthur','Victor', 'Igor','Jessica']
}

In [71]:
dic1

{'Nome': 'Lucas',
 'cpf': '112.565.344-29',
 'telefone': '98219-8765',
 'idade': 27,
 'curso': 'Ciência de Dados',
 'qtd_primos': 4,
 'nomes_primos': ['Arthur', 'Victor', 'Igor', 'Jessica']}

In [72]:
dic1.values()

dict_values(['Lucas', '112.565.344-29', '98219-8765', 27, 'Ciência de Dados', 4, ['Arthur', 'Victor', 'Igor', 'Jessica']])

In [73]:
dic1.keys()

dict_keys(['Nome', 'cpf', 'telefone', 'idade', 'curso', 'qtd_primos', 'nomes_primos'])

In [74]:
dic1.items()

dict_items([('Nome', 'Lucas'), ('cpf', '112.565.344-29'), ('telefone', '98219-8765'), ('idade', 27), ('curso', 'Ciência de Dados'), ('qtd_primos', 4), ('nomes_primos', ['Arthur', 'Victor', 'Igor', 'Jessica'])])